<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
  <link rel="alternate" type="application/atom+xml" title="Entries" href="<% request.uri_base %>/atom.xml">
  <link rel="alternate" type="application/atom+xml" title="Comments" href="<% request.uri_base %>/comments.xml">

  <% IF user_feed %>
  <link rel="alternate" type="application/atom+xml" title="Entries of <% user_feed.display_name %>" href="<% request.uri_base %>/users/<% user_feed.username %>/atom.xml" />
  <% END %>

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script>/* <![CDATA[ */
      !window.jQuery && document.write('<script src="<% request.uri_base %>/javascripts/jquery-2.0.3.min.js"><\/script>')
  /* ]]> */</script>

  <script src="<% request.uri_base %>/javascripts/blog.js"></script>
</head>
<body>
  <div id="page">
    <div id="content">
      <h1><a href="/"><% title %></a></h1>
      <% content %>
    </div>

    <% IF show_sidebar %>
    <div id="sidebar">
      <ul id="sidebar-items">
        <li>
          <h3>Join the community</h3>
          <ul class="links">
            <% IF user.display_name %>
              <li><% user.display_name %></li>
              <li><a href="/logout">Log Out</a></li>
              <li><a href="/u/create-post">Create Post</a></li>
              <li><a href="/u/list-posts">List Posts</a></li>
              <li><a href="/u/edit-profile">Edit Profile</a></li>
            <% ELSE %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Log In</a></li>
              <li><a href="/reset-password">Reset password</a></li>
            <% END %>
          </ul>
          <% IF user.admin %>
            <ul class="links admin">
              <li>Administrator tools</li>
              <li><a href="/a/list-users">List Users</a></li>
              <li><a href="/a/list-posts">List Posts</a></li>
              <li><a href="/a/audit">Audit trail</a></li>
              <li><a href="/a/configuration">Configuration</a></li>
            </ul>
          <% END %>
          <form action="/search">
          <input name="query" value="<% query %>" />
<!--
          <input type="hidden" id="user_id" value="<% post.user_id %>" />
          <select name="search_target">
             <option value="all" <% IF page.status == 'all' %>selected="SELECTED"<% END %> >All</option>
             <option value="this" <% IF page.status == 'this' %>selected="SELECTED"<% END %> >This user</option>
  
          </select>

-->
          <input type="submit" value="Search" />
          </form>
        </li>
      </ul>
    </div>
    <% END %>
  </div>
  <div id="footer">
  Powered by Perl.
  </div>
</body>
</html>
