<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
  <title><% title %></title>
  <link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />

  <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">/* <![CDATA[ */
      !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery-2.0.3.min.js"><\/script>')
  /* ]]> */</script>

  <script src="<% request.uri_base %>/javascripts/blog.js" type="text/javascript"></script>
</head>
<body>
  <div id="page">
    <div id="content">
      <h1><a href="/"><% title %></a></h1>
      <% content %>
    </div>

    <% IF show_sidebar %>
    <div id="sidebar">
      <ul id="sidebar-items">
        <li>
          <h3>Join the community</h3>
          <ul class="links">
	  	    <% IF user.display_name %>
              <li><% user.display_name %></li>
              <li><a href="/logout">Log Out</a></li>
              <li><a href="/u/create-post">Create Post</a></li>
              <li><a href="/u/list-posts">List Posts</a></li>
              <li><a href="/u/edit-profile">Edit Profile</a></li>
            <% ELSE %>
              <li><a href="/register">Register</a></li>
              <li><a href="/login">Log In</a></li>
            <% END %>
          </ul>
          <% IF user.admin %>
            <ul class="links admin">
              <li>Administrator tools</li>
              <li><a href="/a/list-users">List Users</a></li>
              <li><a href="/a/list-posts">List Posts</a></li>
              <li><a href="/a/audit">Audit trail</a></li>
            </ul>
          <% END %>
        </li>
      </ul>
    </div>
    <% END %>
  </div>
  <div id="footer">
  Powered by Perl.
  </div>
</body>
</html>
