<h2>Edit Porfile</h2>

 <b>Username:</b><% the_user.username %></br>

<form method="POST">
 <b>Display Name:</b><input name="display_name" /></br>
 <b>Password:</b><input name="password" type="password" /></br>
 <b>Password Confirm:</b><input name="password_confirm" type="password" /></br>
 <input type="submit" value="Update" />
</form>

