<table>
<tr>
   <th>Name</th>
   <th>Username</th>
   <% IF admin_view %>
     <th>Administrator?</th>
     <th>Details</th>
   <% END %>
   <th>View</th>
</tr>
<% FOR u IN users %>
  <tr>
    <td><% u.display_name %></td>
    <td><% u.username %></td>
    <% IF admin_view %>
      <td><% u.admin %></td>
      <td><a href="/a/user?id=<% u.id %>">show</a></td>
    <% END %>
    <td><a href="/users/<% u.username %>/profile">profile</a></td>
  </tr>
<% END %>
</table>

