<form method="POST">
 <b>Username:</b><input name="username" /></br>
 <b>Password:</b><input name="password" type="password" /></br>
 <input type="submit" value="Log in" />
</form>

Login with your <a href="/login/google">Google Account</a> or
<a href="/login/openid">Open ID</a>.

