<h2><% page.title %></h2>
<div class="by_line">
   By <b><a href="/users/<% page.username %>/profile"><% page.display_name %></a></b> on <% page.published_timestamp %>
</div>

<% page.abstract %>

<% page.body %>

<div id="tags">
<ul>
<% FOR t IN page.tags %>
  <li><a href="/tag/<% t %>"><% t %></a></li>
<% END %>
</ul>
</div>

<h2 id="comments">Comments</h2>

<% IF number_of_comments %>
listing ...
<% ELSE %>
No comments yet. Be the first to comment!
<% END %>

