If you have forgotten your password, you can ask for
a code to be mailed to you that will let you set a
new password:

<form method="POST">
 <b>Username:</b><input name="username" /></br>
 or:<br>
 <b>Email:</b><input name="email" /></br>
 <input type="submit" value="Get reset password code" />
</form>

