<form method="POST">
 <b>New Password:</b><input name="new_password" type="password" /></br>
 <b>Password Confirm:</b><input name="password_confirm" type="password" /></br>
 <input type="submit" value="Update" />
</form>

